

<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<body>
<h1>吼一声</h1>
<a href="{{ url }}">{{ url_linktext }}</a>
<form action='' method="POST" enctype="multipart/form-data">

<p VLIGN="TOP">信息：<div><textarea cols="50" rows="10" id="message" name="message" 
style="border:1px solid #888888;LINE-HEIGHT:18px;padding:3px;">
</textarea>
<div><label>Avatar:</label></div>
<div><input type="file" name="img"/></div>
</div>
</p>
<!--  <p>发布人:<input id="who" name="who" value="" type="text" 
style="background:transparent;border:1px solid #eeefff"></p>
-->
<p><input type="submit" value="提交"></p>


{%for shout in shouts %}
<div class="msg">
<blockquote>
{% if  shout.avatar  %}
      <img src='img?img_id={{shout.pic_key}}'></img>
{% endif %}
{{shout.message|escape|linebreaks}}

</blockquote>

</div>

<div>
    {% if shout.author %}
      <b>{{ shout.author.nickname }}</b> wrote.
    {% else %}
     An anonymous person wrote.
    {% endif %}

{{ shout.modify_time}}

</div>
{%endfor%}





</form>

</body>