

<link href="/static/stylesheets/main.css" rel="stylesheet" type="text/css" />
<script src="/static/javascripts/shout.js" type="text/javascript"></script>
<body>
<h1>吼一声</h1>
<a href="{{ url }}">{{ url_linktext }}</a>
<form action='' method="POST" enctype="multipart/form-data">

<p VLIGN="TOP">信息：<div><textarea cols="50" rows="10" id="message" name="message" 
style="border:1px solid #888888;LINE-HEIGHT:18px;padding:3px;">
</textarea>
<div><label>Avatar:</label></div>
<div><input type="file" name="img"/></div>
</div>
</p>
<!--  <p>发布人:<input id="who" name="who" value="" type="text" 
style="background:transparent;border:1px solid #eeefff"></p>
-->
<p><input type="submit" value="提交"></p>


{%for shout in shouts %}
<div class="msg">
<blockquote>
{% if  shout.avatar  %}
      <a href="img?img_id={{shout.pic_key}}">
    <img  alt= "图像" src='img?img_id={{shout.pic_key}}' height="100" width="200" sytle="boder:0"></img></a>
{% endif %}
{{shout.message|escape|linebreaks}}

</blockquote>

</div>

<div>
    {% if shout.author %}
      <b>{{ shout.author.nickname }}</b> wrote.
    {% else %}
     An anonymous person wrote.
    {% endif %}

{{ shout.modify_time}}
<a href="javascript:confirmDelete('/delete/{{shout.key}}?p={{currpage}}');">Delete</a>
</div>
{%endfor%}

<div style="text-align:center">
{{pagestr}}
</div>



</form>

</body>